.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  color: #424242;
  max-width: 780px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
}

.popup__content form {
  margin: 0 auto;
}

.popup__close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 40px;
  color: black;
}

.popup__title {
  color: #424242;
  font-size: 31px;
  font-weight: 500;
  margin: 65px 0px 0px 0px;
}

.popup__block {
  padding: 62px 0 0 0px;
}

.popup__image img {
  max-width: 800px;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1125px) {
  .popup__content {
    max-width: 600px;
  }
  .popup__image img {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .popup__content {
    max-width: 300px;
  }
  .popup__close {
    top: 0px;
  }
  .popup__close svg {
    width: 20px;
  }
}
